{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "quoteProps": "as-needed",
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"printWidth": 150
}